In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
146,tt1528100,140000000,268031828,Exodus: Gods and Kings,Christian Bale|Joel Edgerton|John Turturro|Aar...,Ridley Scott,"Once brothers, now enemies.",The defiant leader Moses rises up against the ...,153,Adventure|Drama|Action,Scott Free Productions|Chernin Entertainment|B...,12/3/2014,5.6,2014
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015
546,tt0211443,11000000,16000000,Jason X,Kane Hodder|Lexa Doig|Chuck Campbell|Lisa Ryde...,James Isaac,Evil has an upgrade.,"In the year 2455, Old Earth is now a contamina...",91,Horror|Science Fiction,New Line Cinema|Sean S. Cunningham Films|Cryst...,7/24/2001,4.3,2001
1032,tt1336608,75000000,59418613,Rock of Ages,Tom Cruise|Alec Baldwin|Diego Boneta|Julianne ...,Adam Shankman,Nothin' but a good time,A small town girl and a city boy meet on the S...,123,Comedy|Drama|Music|Romance,New Line Cinema|Corner Store Entertainment,6/13/2012,5.9,2012
1050,tt1714203,5000000,8493728,Piranha 3DD,Danielle Panabaker|Matt Bush|Katrina Bowden|Je...,John Gulager,Twice the Teeth. Twice the Terror.,"After the events at Lake Victoria, the prehist...",83,Horror|Thriller|Comedy,Dimension Films|Mark Canton Productions|Intell...,5/11/2012,4.2,2012

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # Создаю словарь для ответов

#Добавляю колонку с суммами прибыли, информация потребуется для решения заданий: 6,7,10,12,18,20
data['profit'] = data['revenue']-data['budget'] 

#Добавляю колонку с номером месяца релиза, информация потребуется для решения заданий: 21, 22, 23
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month']=data['release_date'].apply(lambda x: x[0])

# 1. У какого фильма из списка самый большой бюджет?

In [0]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# "+"

In [6]:
data.loc[data[data.budget == data.budget.max()].index]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
answers['2'] = 'Gods and Generals (tt0279111)'
# "+"

In [7]:
data.loc[data[data.runtime == data.runtime.max()].index]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# "+"

In [8]:
data.loc[data[data.runtime == data.runtime.min()].index]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = '110'
# "+"

In [9]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] = '107'
# "+"

In [10]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
answers['6'] = 'Avatar (tt0499549)'
# "+"

In [12]:
data.loc[data[data.profit == data.profit.max()].index]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [0]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# "+"

In [17]:
data.loc[data[data.profit == data.profit.min()].index]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = '1478'
# "+"

In [18]:
len(data.query('revenue>budget'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9'] = 'The Dark Knight (tt0468569)'
# "+"

In [19]:
film_2008 = data.query('release_year =="2008"')
film_2008.loc[film_2008[film_2008.revenue == film_2008.revenue.max()].index]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# "+"

In [21]:
film_b = data.query('release_year in ["2012", "2013", "2014"]')
film_b.loc[film_b[film_b.profit == film_b.profit.min()].index]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
answers['11'] = 'Drama'
# "+"

In [22]:
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data_explode_genres = data.explode('genres')
data_explode_genres.describe(include=['object'])

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies,release_date
count,5107,5107,5107,5107,5107,5107,5107,5107,5107
unique,1889,1887,1878,957,1880,1889,19,1624,1435
top,tt1390411,Fantastic Four,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Ridley Scott,Worlds Collide,The Great Raid is an inspirational true story ...,Drama,New Line Cinema,12/25/2014
freq,5,7,10,36,8,5,782,53,19

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = 'Drama'
# "+"

In [45]:
data_12 = pd.read_csv('movie_bd_v5.csv')
data_12['genres'] = data_12['genres'].apply(lambda x:x.split('|'))
data_12['profit'] = data_12['revenue'] - data_12['budget']
data_explode_genres = data_12.explode('genres')
data_profit = data_explode_genres[data_explode_genres.profit > 0]
group_genres = data_profit['genres'].value_counts()
display(group_genres)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
answers['13'] = 'Peter Jackson'
# "+"

In [51]:
data_13 = pd.read_csv('movie_bd_v5.csv')
data_13['director'] = data_13['director'].apply(lambda x: x.split('|'))
data_director=data.explode('director')
data_director.groupby(['director'])['revenue'].sum().sort_values(ascending = False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
answers['14'] = 'Robert Rodriguez'
# "+"

In [52]:
data_14 = pd.read_csv('movie_bd_v5.csv')
data_14['director'] = data_14['director'].apply(lambda x: x.split('|'))
director_A = data_14.explode('director')
director_B = director_A[director_A.genres.str.contains("Action", na=False)]
director_B.describe(include=['object'])

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies,release_date
count,623,623,623,623,623,623,623,623,623
unique,582,581,577,364,582,582,282,532,553
top,tt0462322,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez,A double feature that'll tear you in two!,Two full length feature horror movies written ...,Action|Crime|Thriller,Marvel Studios,4/6/2007
freq,6,6,6,9,6,6,23,9,6

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
answers['15'] = 'Chris Hemsworth '
# "+"

In [55]:
data_15 = pd.read_csv('movie_bd_v5.csv')
artist_b = data_15[data_15.release_date.str.contains("2012")]
artist = artist_b.sort_values(['revenue'], ascending=False).head(30)
artist['cast'] = artist['cast'].apply(lambda x: x.split('|'))
artist_A = artist.explode('cast')
artist_A['cast'].value_counts().head(1)

Chris Hemsworth    2
Name: cast, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
answers['16'] = 'Matt Damon'
# "+"

In [57]:
big_film = data.query('budget > budget.mean()')
big_film['cast']=big_film['cast'].apply(lambda x: x.split('|'))
b_f = big_film.explode('cast')
b_f['cast'].value_counts().head()

<ipython-input-57-140382065ff0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  big_film['cast']=big_film['cast'].apply(lambda x: x.split('|'))

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
answers['17'] = 'Action'
# "+"

In [58]:
n_c = data[data.cast.str.contains("Nicolas Cage", na=False)]
n_c['genres'] = n_c['genres'].apply(lambda x: x.split('|'))
n = n_c.explode('genres')
n.describe(include=['object'])

<ipython-input-58-ce0efd6b3674>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_c['genres'] = n_c['genres'].apply(lambda x: x.split('|'))

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies,release_date
count,93,93,93,93,93,93,93,93,93
unique,27,27,27,24,27,27,15,27,27
top,tt0963966,The Croods,Nicolas Cage|Jay Baruchel|Monica Bellucci|Alfr...,[Jon Turteltaub],The battle for the lawn is on.,A teacher opens a time capsule that has been d...,Action,Summit Entertainment|Mystery Clock Cinema|Esca...,7/27/2006
freq,5,5,5,13,5,5,17,5,5

# 18. Самый убыточный фильм от Paramount Pictures

In [61]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# "+"

In [60]:
p_p = data[data.production_companies.str.contains("Paramount Pictures", na=False)]
p_p.loc[p_p[p_p.profit == p_p.profit.min()].index]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
answers['19'] = '2015'
# "+"

In [62]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
answers['20'] = '2014'
# "+"

In [63]:
data2 = data[data['production_companies'].str.contains('Warner Bros')]
data3 = data2.pivot_table(values=['profit'], index=['release_year'], columns=['production_companies'], aggfunc='sum', margins=True)
display(data3)

                                                      profit  \
production_companies 1492 Pictures|Warner Bros.|Heyday Films
release_year
2000                                                     NaN
2001                                             851475550.0
2002                                                     NaN
2003                                                     NaN
2004                                                     NaN
2005                                                     NaN
2006                                                     NaN
2007                                                     NaN
2008                                                     NaN
2009                                                     NaN
2010                                                     NaN
2011                                                     NaN
2012                                                     NaN
2013                                                     NaN
2014                                                     NaN
2015                                                     NaN
All                                              851475550.0

                                                                                                \
production_companies 1492 Pictures|Warner Bros.|Heyday Films|MIRACLE Productions GmbH & Co. KG
release_year
2000                                                                NaN
2001                                                                NaN
2002                                                        776688482.0
2003                                                                NaN
2004                                                                NaN
2005                                                                NaN
2006                                                                NaN
2007                                                                NaN
2008                                                                NaN
2009                                                                NaN
2010                                                                NaN
2011                                                                NaN
2012                                                                NaN
2013                                                                NaN
2014                                                                NaN
2015                                                                NaN
All                                                         776688482.0

                                                                                         \
production_companies 1492 Pictures|Warner Bros.|Heyday Films|P of A Productions Limited
release_year
2000                                                                NaN
2001                                                                NaN
2002                                                                NaN
2003                                                                NaN
2004                                                        659804554.0
2005                                                                NaN
2006                                                                NaN
2007                                                                NaN
2008                                                                NaN
2009                                                                NaN
2010                                                                NaN
2011                                                                NaN
2012                                                                NaN
2013                                                                NaN
2014                                                                NaN
2015                                                                NaN
All                                                         659804554.0

                                                                                                          \
production_companies Amblin Entertainment|Malpaso Productions|Warner Bros.|Kennedy/Marshall Company, The
release_year
2000                                                                NaN
2001                                                                NaN
2002                                                                NaN
2003                                                                NaN
2004                                                                NaN
2005                                                                NaN
2006                                                                NaN
2007                                                                NaN
2008                                                                NaN
2009                                                                NaN
2010                                                         55197635.0
2011                                                                NaN
2012                                                                NaN
2013                                                                NaN
2014                                                                NaN
2015                                                                NaN
All                                                          55197635.0

                                                                                             \
production_companies Amen Ra Films|Franchise Pictures|Warner Bros.|Morgan Creek Productions
release_year
2000                                                         -9800895.0
2001                                                                NaN
2002                                                                NaN
2003                                                                NaN
2004                                                                NaN
2005                                                                NaN
2006                                                                NaN
2007                                                                NaN
2008                                                                NaN
2009                                                                NaN
2010                                                                NaN
2011                                                                NaN
2012                                                                NaN
2013                                                                NaN
2014                                                                NaN
2015                                                                NaN
All                                                          -9800895.0

                                                                                                               \
production_companies Appian Way|Forward Pass|Cappa Productions|Warner Bros.|Initial Entertainment Group (IEG)
release_year
2000                                                                NaN
2001                                                                NaN
2002                                                                NaN
2003                                                                NaN
2004                                                        -14000000.0
2005                                                                NaN
2006                                                                NaN
2007                                                                NaN
2008                                                                NaN
2009                                                                NaN
2010                                                                NaN
2011                                                                NaN
2012                                                                NaN
2013                                                                NaN
2014                                                                NaN
2015                                                                NaN
All                                                         -14000000.0

                                                           \
production_companies Appian Way|Warner Bros.|Random Films
release_year
2000                                                  NaN
2001                                                  NaN
2002                                                  NaN
2003                                                  NaN
2004                                                  NaN
2005                                                  NaN
2006                                                  NaN
2007                                                  NaN
2008                                                  NaN
2009                                                  NaN
2010                                                  NaN
2011                                           47162162.0
2012                                                  NaN
2013                                                  NaN
2014                                                  NaN
2015                                                  NaN
All                                            47162162.0

                                                                          \
production_companies Atlas Entertainment|Mosaic Media Group|Warner Bros.
release_year
2000                                                                NaN
2001                                                                NaN
2002                                                        191650703.0
2003                                                                NaN
2004                                                                NaN
2005                                                                NaN
2006                                                                NaN
2007                                                                NaN
2008                                                                NaN
2009                                                                NaN
2010                                                                NaN
2011                                                                NaN
2012                                                                NaN
2013                                                                NaN
2014                                                                NaN
2015                                                                NaN
All                                                         191650703.0

                                                                                                                                             \
production_companies Bedford Falls Productions|Lonely Film Productions GmbH & Co. KG.|Virtual Studios|Spring Creek Productions|Warner Bros.
release_year
2000                                                                NaN
2001                                                                NaN
2002                                                                NaN
2003                                                                NaN
2004                                                                NaN
2005                                                                NaN
2006                                                         70877916.0
2007                                                                NaN
2008                                                                NaN
2009                                                                NaN
2010                                                                NaN
2011                                                                NaN
2012                                                                NaN
2013                                                                NaN
2014                                                                NaN
2015                                                                NaN
All                                                          70877916.0

                                                         ...  \
production_companies Bel Air Entertainment|Warner Bros.  ...
release_year                                             ...
2000                                          4079821.0  ...
2001                                         25754228.0  ...
2002                                                NaN  ...
2003                                                NaN  ...
2004                                                NaN  ...
2005                                                NaN  ...
2006                                                NaN  ...
2007                                                NaN  ...
2008                                                NaN  ...
2009                                                NaN  ...
2010                                                NaN  ...
2011                                                NaN  ...
2012                                                NaN  ...
2013                                                NaN  ...
2014                                                NaN  ...
2015                                                NaN  ...
All                                          29834049.0  ...

                                                                             \
production_companies Warner Bros.|Heyday Films|Moving Picture Company (MPC)
release_year
2000                                                                NaN
2001                                                                NaN
2002                                                                NaN
2003                                                                NaN
2004                                                                NaN
2005                                                                NaN
2006                                                                NaN
2007                                                                NaN
2008                                                                NaN
2009                                                                NaN
2010                                                                NaN
2011                                                       1.202818e+09
2012                                                                NaN
2013                                                                NaN
2014                                                                NaN
2015                                                                NaN
All                                                        1.202818e+09

                                                                 \
production_companies Warner Bros.|Iron Horse Entertainment (II)
release_year
2000                                                        NaN
2001                                                        NaN
2002                                                        NaN
2003                                                        NaN
2004                                                        NaN
2005                                                        NaN
2006                                                        NaN
2007                                                        NaN
2008                                                        NaN
2009                                                        NaN
2010                                                        NaN
2011                                                        NaN
2012                                                        NaN
2013                                                        NaN
2014                                                        NaN
2015                                                107613057.0
All                                                 107613057.0

                                                                                                               \
production_companies Warner Bros.|Moving Picture Company (MPC)|Berlanti Productions|RatPac-Dune Entertainment
release_year
2000                                                                NaN
2001                                                                NaN
2002                                                                NaN
2003                                                                NaN
2004                                                                NaN
2005                                                                NaN
2006                                                                NaN
2007                                                                NaN
2008                                                                NaN
2009                                                                NaN
2010                                                                NaN
2011                                                                NaN
2012                                                                NaN
2013                                                                NaN
2014                                                                NaN
2015                                                        -21611680.0
All                                                         -21611680.0

                                                                               \
production_companies Warner Bros.|Participant Media|Nick Wechsler Productions
release_year
2000                                                                NaN
2001                                                                NaN
2002                                                                NaN
2003                                                                NaN
2004                                                                NaN
2005                                                         -9775758.0
2006                                                                NaN
2007                                                                NaN
2008                                                                NaN
2009                                                                NaN
2010                                                                NaN
2011                                                                NaN
2012                                                                NaN
2013                                                                NaN
2014                                                                NaN
2015                                                                NaN
All                                                          -9775758.0

                                                                                  \
production_companies Warner Bros.|Section Eight Productions|Sunset Gower Studios
release_year
2000                                                                NaN
2001                                                                NaN
2002                                                                NaN
2003                                                                NaN
2004                                                                NaN
2005                                                                NaN
2006                                                        -26085092.0
2007                                                                NaN
2008                                                                NaN
2009                                                                NaN

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
answers['21'] = 'Сентябрь'
# "+"

In [7]:
#data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
#data['month']=data['release_date'].apply(lambda x: x[0])
data_21 = data.pivot_table(values=['imdb_id'], index=['month'], aggfunc='count').sort_values(['imdb_id'], ascending=False)
display(data_21)

       imdb_id
month
9          227
12         190
10         186
8          161
3          156
4          149
6          147
11         146
7          142
5          140
2          135
1          110

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = '450'
# "+"

In [10]:
data_22 = pd.read_csv('movie_bd_v5.csv')
data_22['release_date'] = data_22['release_date'].apply(lambda x: x.split('/'))
data_22['month']=data_22['release_date'].apply(lambda x: x[0])
many_film = data_22.loc[data_22['month'].isin(['6', '7', '8'])].pivot_table(values=['imdb_id'], index=['month'], aggfunc='count', margins=True)
display(many_film)

       imdb_id
month
6          147
7          142
8          161
All        450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
answers['23'] = 'Peter Jackson'
# "+"

In [69]:
data_23 = pd.read_csv('movie_bd_v5.csv')
data_23['director'] = data_23['director'].apply(lambda x: x.split('|'))
data_23['release_date'] = data_23['release_date'].apply(lambda x: x.split('/'))
data_23['month']=data_23['release_date'].apply(lambda x: x[0])
many_film = data_23.loc[data_24['month'].isin(['1', '2', '12'])]
many_film['director'].value_counts()

[Peter Jackson]                       7
[Clint Eastwood]                      6
[Steven Soderbergh]                   6
[Shawn Levy]                          4
[Nancy Meyers]                        4
                                     ..
[Paul Tibbitt]                        1
[Florian Henckel von Donnersmarck]    1
[Niki Caro]                           1
[Mikael HÃ¥fstrÃ¶m]                   1
[Guy Ferland]                         1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
answers['24'] = 'Four By Two Productions'
# "+"

In [70]:
data_24 = pd.read_csv('movie_bd_v5.csv')
data_24['original_title_len'] = data_24['original_title'].apply(lambda x: len(x))
data_24['production_companies'] = data_24['production_companies'].apply(lambda x: x.split('|'))
data_pc = data_24.explode('production_companies')
data_pc.groupby(['production_companies'])['original_title_len'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: original_title_len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
answers['25'] = 'Midnight Picture Show'
# "+"

In [72]:
data_25 = pd.read_csv('movie_bd_v5.csv')
data_25['overview_len'] = data_25['overview'].apply(lambda x: len(x.split(' ')))
data_25['production_companies'] = data_25['production_companies'].apply(lambda x: x.split('|'))
data_pc1 = data_25.explode('production_companies')
data_pc1.groupby(['production_companies'])['overview_len'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_len, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# "+"

In [73]:
data_26 = pd.read_csv('movie_bd_v5.csv')
best = data_26.sort_values(by='vote_average').tail(int(data.original_title.count()/100)).original_title
best_films = best.tolist()
print(best_films)

['The Theory of Everything', 'The Lord of the Rings: The Two Towers', 'There Will Be Blood', 'Mr. Nobody', '12 Years a Slave', 'The Pianist', 'Gone Girl', 'Memento', 'Guardians of the Galaxy', 'Inception', 'The Wolf of Wall Street', 'The Grand Budapest Hotel', 'The Lord of the Rings: The Return of the King', 'Room', 'Interstellar', 'Inside Out', 'The Imitation Game', 'The Dark Knight']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# "+"

In [83]:
data_27 = pd.read_csv('movie_bd_v5.csv')
data_27['cast'] = data_27['cast'].apply(lambda x:x.split('|'))
from itertools import combinations
data_27['pairs'] = data_27['cast'].apply(lambda s: list(combinations(s, 2)))
data_27 = data_27.explode('pairs')
collections.Counter(data_27['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [11]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{}

In [12]:
# и убедиться что ни чего не пропустил)
len(answers)

0